.area {
    position: relative;
    width: 100vw;
    height: 100vh;

    .khinkal {
        position: absolute;
        top: 32px;

        &.left {
            left: 32px;
        }

        &.right {
            right: 32px;
            transform: rotate(180deg);
        }

        @media (hover: hover) {
            cursor: pointer;
        }
    }

    .keyboard {
        position: absolute;
        left: calc(50% - 352px);
        bottom: 32px;
    }
}
